@import	"normalize";
@import "layout";
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,500,600,700,800');

$body-font: 'Raleway', sans-serif;
$text-color: #fff;

$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 960px;
$bp-xlarge: 1200px;

body{
	font: 300 16px/1.9 $body-font;
	color: $text-color;
	background-color: #020407;

}

/* Layout */
.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	font: 700 18px/1 $body-font;
	color: $text-color;
	text-decoration: none;
	background: none;
	border: none;
	letter-spacing: 0.04em;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	color:  #ef4836;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-intro {
	background: #020407 url(../img/bg1.jpg) no-repeat 50%;
	background-size: cover;
}

.ba-header {
	padding: 65px 0 15px;
	position: fixed;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.88) 80%, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 101%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.88) 80%,rgba(0,0,0,0) 100%,rgba(0,0,0,0) 101%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.88) 80%,rgba(0,0,0,0) 100%,rgba(0,0,0,0) 101%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0000000', endColorstr='#00000000',GradientType=0 );
	z-index: 5;
	left: 0;
	right: 0;
	top: 0;
}

.ba-logo {
	display: inline-block;
	float: left;
}

.ba-nav {
	float: right;
	padding-top: 5px;
}

.ba-menu {
	margin: 0;
	padding: 0;
	list-style: none;


	li {
		padding: 0;
		display: inline-block;
		margin-left: 41px;
	}
	a {
		font: 600 14px/1.2 $body-font;
		color: $text-color;
		text-decoration: none;
		letter-spacing: 0.08em;

		&:hover {
			color:  #ef4836;
		}

	}
}

// mobile menu
.ba-menu-toggle {
	padding: 0;
	line-height: 1;
	min-height: auto;
	display: none;
	background: none;
	svg {
		fill: currentColor;
	}

	&:hover, &:focus, &:active {
		background: none;
		color: #58a0ff;
		outline-style: none;
	}
}

.ba-overlay {
	position: fixed;
	z-index: 4;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(#fff, .3);
	visibility: hidden;
	opacity: 0;
	transition: opacity .3s ease-out, visibility .3s ease-out;
}

@media (max-width:$bp-large) {
	.ba-wrap {
		transition: left .3s ease-out;
		position: relative;
		left: 0;
	}

	.ba-menu {
		position: fixed;
		background: #152233;
		z-index: 10;
		right: 0;
		top: 0;
		bottom: 0;
		width: 250px;
		padding-top: 30px;
		transform: translateX(100%);
		transition: transform .3s ease-out;

		&.ba-menu-open {
			transform: translateX(0);
		}

		li {
			padding: 20px 20px 20px 30px;
			display: block;
			margin: 0;
		}

		a {
			display: block;
			font-size: 18px;
			line-height: 1.2;
		}
	}
	.ba-menu-toggle {
		display: inline-block;
	}

	.ba-menu-open {
		.ba-wrap {
			left: -250px;
		}

		.ba-overlay {
			visibility: visible;
			opacity: 1;
		}

		.ba-menu {
			transform: translateX(0);
		}
	}

}

@media (min-width:$bp-large+1) {
	.ba-menu-toggle {

	}

}






.ba-welcome {
	padding-top: 305px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 74%, rgba(0,0,0,0.4) 90%, rgba(0,0,0,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 74%,rgba(0,0,0,0.4) 90%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 74%,rgba(0,0,0,0.4) 90%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.ba-welcome__photo {

	padding-top: 13px;
	float: left;
	width: 41%;

	img {
		display: block;

	}
}

.ba-photo__body {
	position: relative;
}

.ba-play {
	position: absolute;
	border-radius: 50%;
	border: 8px solid #ccc;
	background-color:  #ffffff;
	box-shadow: 0px 2px 49px 0px rgba(0, 0, 0, 0.3);
	width: 88px;
	height: 88px;
	padding: 25px 32px;
	top: 50%;
	right: 50%;
	transform: translate(45%, -50%);
}

.ba-play:hover {
	opacity: 0.5;
}

.ba-section-title {
	font: 800 128px/1 $body-font;
	color: rgba(255, 255, 255, 0.1);
	position: absolute;
	margin: 0;
}

.ba-welcome__info {
	padding: 0 90px 0 89px;
	float: right;
	width: 59%;

	p {
		font-weight: 200;
		line-height: 2;
		margin: 0 0 30px;
		letter-spacing: 0.08em;
	}


}

.ba-welcome__title {
	margin: 0 0 23px;
	font: 300 48px/1.38 $body-font;
	letter-spacing: 0.04em;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		background-color:  #ffffff;
		width: 90px;
		height: 1px;
		top: 34px;
		left: -133px;
	}
}

.ba-about {
	padding-top: 204px;
	position: relative;

	&__title {
		top: 110px;

	}

	&__body {
		background: #2462bb url(../img/bg2.jpg) no-repeat 50%;
		background-size: cover;
		position: relative;
		z-index: 2;

		&:before {
			content: "";
			position: absolute;
			background-color:  #ffffff;
			width: 37px;
			height: 1px;
			top: 156px;
			left: 0px;
		}

		img {
			position: absolute;
			bottom: 80px;
			right: 84px;

		}
	}

	&__info {
		max-width: 50%;
		padding: 125px 40px 144px 65px;
	}
}

.ba-button--about {
	margin-top: 22px;
}

.ba-services {
	padding: 180px 0 100px;
	position: relative;

	&__title {
		top: 100px;
		right: -80px;
	}



	&__text {
		max-width: 85%;
		font: 200 14px/2.15 $body-font;
		margin-bottom: 19px;
		letter-spacing: 0.06em;
	}
}

.ba-service__title {
	padding-left: 57px;
	margin: 0 0 27px;
	font: 300 24px/1.2 $body-font;
	letter-spacing: 0.06em;
}

.ba-service__title--creative {
	background: url(../img/icon-creative.png) no-repeat;
}


.ba-service__title--professional {
	background: url(../img/icon-professional.png) no-repeat;
}


.ba-service__title--money {
	background: url(../img/icon-money.png) no-repeat;
}

.ba-portfolio {
	position: relative;
	padding-top: 60px;

	&__title {
		left: 100px;
		top: 10px;

	}


	&__menu {
		padding: 0;
		margin: 0 0 22px;
		list-style: none;
		text-align: right;

		li {
			padding: 0;
			display: inline-block;
			margin-left: 37px;
		}
		a {
			color:  #595959;
			text-decoration: none;
			font: 500 14px/1 $body-font;
			letter-spacing: 0.06em;

			&:hover {
				color: #FFF;
			}
		}

	}

	&__gallery {
		z-index: 2;
		position: relative;

		img {
			display: block;
			width: 100%;
			cursor: pointer;
			transition: all 0.5s ease-out;

			&:hover {
				transform: scale(1.1);
			}
		}

		img + img {
			margin-top: 7px;
		}

		.ba-grid + .ba-grid {
			margin-top: 7px;
		}

		.ba-grid > [class*=ba-width-] {
			padding-left: 7px;
		}

		.ba-grid {
			margin-left: -7px;
		}

	}
}

.ba-width-30 {
	width: 30.2%;
}

.ba-width-70 {
	width: 69.8%;
}

.ba-width-44 {
	width: 43.6%;
}

.ba-width-56 {
	width: 56.4%;
}

.ba-testimonial {
	padding-top: 291px;
	position: relative;

	&__title {
		right: 0;
		top: 190px;
	}

	&__body {
		background-color:  #ef4836;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			background-color:  #ffffff;
			width: 90px;
			height: 1px;
			top: 152px;
			left: 475px;
		}

		&:before {
			content: "“";
			color:  #da3e2d;
			position: absolute;
			font: 800 150px/1 $body-font;
			top: 110px;
			left: 580px;
		}


		img {
			display: block;
			position: absolute;
			top: -50px;
			left: 84px;
		}

	}

	&__info {
		width: 51%;
		padding: 123px 5px 124px;
		float: right;


		blockquote {
			font-style: italic;
			z-index: 2;
			position: relative;

		}

		cite {
			font-weight: 700;
			font-style: normal;
		}
	}

}
.ba-clients {
	margin-top: 140px;
	padding: 0 24px 0 18px;
	display:flex;
	align-items: center;
	justify-content: space-between;

	a {
		display: inline-block;
		transition: all 0.5s ease-out;
		border-bottom: 2px solid transparent;
		padding: 10px;

		&:hover {
			border-bottom: 2px solid #36383a;
		}

		img {
			display: block;
		}
	}

}

.ba-contact {
	padding-top: 85px;

	&__body {
		background-color: #131313;
	}

	&__info {
		background: #316ec0 url(../img/bg3.jpg) no-repeat;
		padding: 75px 80px 65px;
		font-size: 14px;
		width: 40.1%;
		float: left;

		h4 {
			font: 700 20px/1.3 $body-font;
			margin: 0 0 6px;
		}

		a {
			text-decoration: none;
			font: 300 16px/1.3 $body-font;
			color: $text-color;

			&:hover {
				opacity: 0.6;
			}
		}
	}

	&__info-row + &__info-row {
		margin-top: 29px;
	}

	&__form-body {
		padding: 50px 0 0 30px;
		float: left;
		width: 50%;
		margin-left: 30px;

		h3 {
			margin: 0 0 17px;
			font: 300 30px/1 $body-font;
			position: relative;
			letter-spacing: 0.06em;

			&:before {
				content: "";
				position: absolute;
				background-color:  #ffffff;
				width: 90px;
				height: 1px;
				top: 15px;
				left: -128px;
			}
		}
	}
	&__form {
		max-width: 394px;
	}

}


.ba-contact-form__row--textarea {
	width: 100%;
	border: none;
	border-bottom: 1px solid #525252;
	background: none;
	padding-left: 10px;
	line-height: 50px;
	color:  #2866bd;
	resize: none;
	margin-bottom: 27px;

	&:focus {
		outline: none;
		border-bottom: 1px solid #2866bd;

		&::placeholder {
			color:  #2866bd;
		}

	}
}

.ba-contact-form__row {
	display: block;
	width: 100%;
	height: 50px;
	border: none;
	border-bottom: 1px solid #525252;
	background: none;
	line-height: 50px;
	padding-left: 10px;
	color:  #2866bd;
	margin-bottom: 5px;

	&:focus {
		outline: none;
		border-bottom: 1px solid #2866bd;

		&::placeholder {
			color:  #2866bd;
		}
	}
}
.ba-footer {
	padding: 50px 0;

	&__logo {
	}
}


.ba-copyright {
	float: left;
	color:  #565656;
	font: 200 14px/1.2 $body-font;

	span {

		display: inline-block;
		margin-left: 17px;
	}

	img {
		display: inline-block;
		vertical-align: middle;
	}

}
.ba-socials {
	float: right;
	margin: 0;
	padding: 14px 0 0;
	list-style: none;


	a {
		color: $text-color;

		&:hover {
			color: #316EC0;
		}
	}

	svg {
		fill: currentColor;
	}

	li {
		display: inline-block;
		margin-left: 11px;
	}

}
